QDMNodeContentWidget {
    background: transparent;
}

QDMNodeContentWidget QLabel {
    color: #e0e0e0;
}

QGraphicsView {
    /* Color of rectangle used to select multiple elements at once */
    selection-background-color: rgb(255, 255, 0);
}
